# Example configs (Can be added manually with git add -f)
configs/*

# Data files
*.root
*.dat

# Plots and other images
*.png
*.jpg
*.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Judith

# SVN directories and others
.svn
Makefile
