//mac# Time unit:     us
# Distance unit: mm
# NOTE: these must be consistent with the sensor cfg files

### Configure loopers below, used if the looper is called ###

[Noise Scan]
  max factor: 50  # Pixels with occupacy > 10 x average of bottom 1/2 are noise 10
  bottom x  : 0   # Setting range for noise masking: DUT active area
  upper x   : 80  # Setting range for noise masking: DUT active area (12) 80
  bottom y  : 0 # Setting range for noise masking: DUT active area (165)
  upper y   : 336 # Setting range for noise masking: DUT active area (197) 336
[End Noise Mask]

[Coarse Align]
  display fits : true  # Display the fits as they are processed
[End Coarse Align]

[Fine Align]
  num iterations       : 10
  num pixels           : 6  # Plot width in number of pixels
  bins per pixel       : 3   # Plot bins per pixels (can be < 1) 3
  num pixels broad     : 10  # On the first iteration, use broader values
  bins per pixel broad : 3  //1
  num bins y           : 12  # Number of vertical bins in 2D residuals
  display fits         : false
  relaxation           : 0.3
[End Fine Align]

[Synchronize]
  sync sample  : 500   # Use this many initial events to get a feel for parameters
  max offset   : 100
  threshold    : 1E-3  # Events with a time change difference over this are not synchronized
  buffer size  : 10    # This many events are discarded at every desync
  pre discards : 3     # Discard this many events leading up to the desync
  max regular fails : 3
  max large attempts : 20
  display      : false
[End Synchronize]

### Configure processors below, used throughought ###

[Clustering]
  separation x :1
  separation y :1
[End Clustering]

[Tracking]
  seed planes      : 1    # Number of planes in which a track can start
  min hit planes   : 4   # Minimum number of planes needed to form a track   why 3 before??
  max cluster dist : 50 #50 Maximum sigma deviation of cluster from last cluster
[End Tracking]

[Tracking Align]
  seed planes      : 1   //1
  min hit planes   : 4  //4 //why 4
  max cluster dist : 100
[End Tracking Align]

LINK: configs/standard.cfg

